*.d
*.o
*.root
*.pdf
*.C~
*.nfs*
*.gitignore~
fitparameter_*.txt
ttbar_backup
ttbar_exec
trial.cpp
noise*.txt
trial.py
23_Muon/calibration/values/*
23_Muon/data/david*.TKA
23_Muon/data/Weekend.TKA
23_Muon/efficiencies/PMT*.txt
23_Muon/efficiencies/*/PMT*.txt
